h1 {
	color: #314F00;
	font-size: 30px;
	letter-spacing: 2px;
	text-decoration: underline; 
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}
h2 {
	color: #517614;
	font-size: :14px;
	font-weight:3px;
}
p{
	color: #314F00;
}


body {
	background-color: #3E7213;
		font-family: 'Kavivanar', cursive;
}
a {
	text-decoration: none;
}
